{% extends 'base.html' %}
{% block title %} Cuadrados Medios {% endblock %}
{% block content %}
<div id="app">
    {% if imagen1 %}
    <center>
        <br> <br> 
            <div class="w3-container w3-teal">
                <h1><strong>RESULTADOS DE LOS CUADRADOS MEDIOS</strong></h1>
            </div>
            <br>
    </center>
    <br>
    <div class="card mb-3" style="background:rgba(213, 172, 172, 0.365);">
        <table class="table table-bordered border-secondary">
            <thead style="color: rgb(87, 11, 15) !important;">
                {% for i in datos.columns %}
                <th>{{ i }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i in datos.iterrows() %}
                <tr>
                    <td>{{ i[1][0] }}</td>
                    <td>{{ i[1][1] }}</td>
                    <td>{{ i[1][2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 style="font-family:Geneva, Verdana, sans-serif;"><strong> Grafico</strong></h3>
    <div class="card my-3 w-100">
        <div class="alert alert1 alert-danger" role="alert">
            <div class="row g-0">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <center>
                            <div class="carousel-item active">
                                <img src="data:image/png;base64,{{imagen1}}" class="img-fluid rounded-start"
                                    alt="grafica">
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <br><br><br><br>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

      

    <div class="card">

        <!-- CONTENIDO -->
      <div class="texto">
        <h1>¿QUE SON LOS CUADRADOS MEDIOS?</h1>
        <p class="text2">Es una técnica numérica para conducir experimentos con relaciones matemáticas y lógicas, las cuales son necesarias para describir el comportamiento y la estructura de sistemas complejos del mundo real a través de largos periodos de tiempo.</p>
    
        <figure class="img">
            <img src="/static/CMedios.jpeg" alt="montecarlo" />          
        </figure> 
    </div>

        <div class="card-body" style="background:rgba(134, 134, 236, 0.365);">
            <form action="/cuadradosMedios" method="post">
                <center>
                    <br> 
                    <div class="w3-container w3-teal">
                        <h1><strong>CUADRADOS MEDIOS</strong></h1>
                        <p class="text2">Se podra observar el resultado del DataSet del proyecto y realizar el calculo de los cuadrados medios en base a la cantidad de los digitos y semillas ingresadas </p>
                    </div>
                    <br>
                </center>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Escriba la cantidad de digitos" name="n"
                        v-model="n">
                    <input type="number" class="form-control" placeholder="Escriba la Semilla" name="r" v-model="r">
                </div>
                <br><br>
                <center>
                    <!-- BOTONES  -->
                    <button type="submit" class="btn btn2 btn-outline-secondary" style="width: 1200px;">Calcular</button>
                    <button class="btn btn1 btn-outline-secondary" style="width: 1200px;"
                        @click="llenarCampos()">Mostrar Resultados de la DataSet</button>
            
                </center>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<script>
    const app = {
        data() {
            return {
                n: null,
                r: null
            }
        },
        methods: {
            llenarCampos() {
                this.n = 45;
                this.r = 243;
            }
        }
    }

    Vue.createApp(app).mount('#app');
</script>
{% endblock %}