{% extends "base.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<br>
<div class="card bg-success mb-3">
      <div class="container" >
        <div class="row">
        <center>
            <br>
            <h1 class="card-title" align="center">UNIVERSIDAD LAICA ELOY ALFARO DE MANABI</h1>
            <br>  
            <h2 class="card-title" align="center">Facultad de Ciencias Informatica </h2>
            <br>
            <figure class="img">
              <img src="/static/uleam.png" alt="montecarlo" style="width: 500px;" />          
            </figure> 
            <br>
            <h4 class="card-title" align="center">Estudiante:</h4>
            <h4 class="card-text"align="center">Pico Vargas Jordy Gabriel</h4><br>
            <h4 class="card-title"align="center">Curso:</h4>
            <h4 class="card-text"align="center">Sexto "A" </h4><br>
            <h4 class="card-title"align="center">Materia:</h4>
            <h4 class="card-text"align="center">Modelamiento y simulacion</h4><br>
            <h4 class="card-title"align="center">Docente:</h4>
            <h4 class="card-text"align="center">Ing. Jorge Moya</h4><br>

        </center>
        </div>
      </div>
    
</div>


{% endblock %}