{% extends 'base.html' %}
{% block title %} Suavización exponencial {% endblock %}
{% block content %}
<div id="app">
    {% if cargar %}
    <center>
        <br>
        <div class="w3-container w3-teal">
            <h2 style="font-family:'Brush Script MT'; font-size:50px;"><strong>Resultados</strong>
        </div>
    </center>
    <h3 style="font-family:Geneva, Verdana, sans-serif;"><strong> Datos generados</strong></h3>
    <br>
    <div class="card mb-3">
        <table class="table table-bordered border-secondary">
            <thead style="color: rgb(87, 11, 15) !important;">
                {% for i in datos.columns %}
                <th>{{ i }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i in datos.iterrows() %}
                <tr>
                    <td>{{ i[1][0] }}</td>
                    <td>{{ i[1][1] }}</td>
                    <td>{{ i[1][2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <br><br><br><br>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <form action="/suavizacionExponencial" method="post">
                <center>
                    <h2 style="font-family:'Brush Script MT'; font-size:50px;"><strong>Suavizacion Exponencial</strong>
                    </h2>
                    <hr>
                </center>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nombre del eje X" name="xlbl" v-model='xlbl'>
                        <input type="text" class="form-control" placeholder="Nombre del eje Y" name="ylbl" v-model="ylbl">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <textarea name="x" rows="3" class="form-control"
                        placeholder="Datos del eje X (solo numeros seperados por , )" v-model="x"></textarea>
                        <textarea name="y" rows="3" class="form-control"
                        placeholder="Datos del eje Y (solo numeros seperados por , )" v-model="y"></textarea>
                    </div>
                </div>
                <br>
                <center>
                    <button class="btn btn1 btn-outline-secondary" style="width: 300px;"
                        @click="llenarCampos()">Resultados de stock</button>
                    <button type="submit" class="btn btn2 btn-outline-secondary" style="width: 300px;">Calcular</button>
                </center>
            </form>
        </div>
    </div>

    {% endif %}
</div>
<script>
    const app = {
        data() {
            return {
                xlbl: null,
                x: null,
                ylbl: null,
                y: null
            }
        },
        methods: {
            llenarCampos() {
                this.xlbl = 'Compra';
                this.ylbl = 'Venta';
                this.x = '200, 345, 754, 219, 187,  984, 1021,153,784, 954, 123, 678, 512, 643,432';
                this.y = '101, 543, 811, 101, 1044, 460, 993,131, 603, 849, 709, 350, 165, 510,270';
            }
        }
    }
    Vue.createApp(app).mount("#app")
</script>
{% endblock %}